			<!-- panel left -->
			<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >

				<div class='nd2-sidepanel-profile wow fadeInDown'>
					<img class='profile-background' src="//lorempixel.com/400/200/abstract/2/" />
					<div class="row">
						<div class='col-xs-4 center-xs'>
							<div class='box'>
								<img class="profile-thumbnail" src="" />
							</div>
						</div>
						<div class='col-xs-8'>
							<div class='box profile-text'>
								<strong>Map Viewer</strong>
								<span class='subline'>Nearby Services on Map</span>
							</div>
						</div>
					</div>
				</div>


				<ul data-role="listview" data-inset="false">
					<li data-role="list-divider">Nearby Mapped Places</li>
				</ul>
				<div data-role="collapsible" data-inset="false"  data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3 style="background-color:#2e8b57;">Find Services </h3>
					<ul data-role="listview" data-inset="false" data-icon="false">
						<li><a href="places.html" data-ajax='false' data-icon="false">Buildings Around</a></li>
						<li><a href="restaurants.html" data-ajax='false' data-icon="false">Lounges on Map</a></li>
						<li><a href="schools.html" data-ajax='false' data-icon="false">Schools on Map</a></li>
						
					</ul>
				</div>
				<div data-role="collapsible"  data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Find Directions</h3>
					<ul data-role="listview" data-icon="false">
						<li><a href="directions.html" data-ajax='false'>See Directions</a></li>
						
						
					</ul>
				</div>
				
				<div data-role="collapsible" style="background-color:red;" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3 style="background-color:#ff0000;">Admin Panel</h3>
					<ul data-role="listview" data-icon="false">
						<li><a href="addicons.html" data-ajax='false'>Add Places</a></li>
						
						
					</ul>
					<ul data-role="listview" data-icon="false">
						<li><a href="#sms" data-ajax='false'>Send Sms</a></li>
						
						
					</ul>
				</div>
				
				
				
				<hr class="inset">
				<ul data-role="listview" data-inset="false">

				</ul>
				<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					
					<ul data-role="listview" data-icon="false">
						<li><a href="/info/colors_and_styles.html" data-ajax='false'>Colors &amp; Styles</a></li>
						<li><a href="/info/credits.html" data-ajax='false'>Credits &amp; License</a></li>
					</ul>
				</div>
			</div>
			<!-- /panel left -->
